.BurgerConstructor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 600px;
    padding: 100px 16px 52px;
}

.SubmitContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 40px;
}

.Image {
    padding: 0 40px 0 0;
}

.Price {
    padding: 0 8px 0 0;
}

.Recipes {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0 0 16px 0;
    border-radius: 52px;
}

.Recipes::-webkit-scrollbar {
    width: 8px;
}

.Recipes::-webkit-scrollbar-track {
    background: #2F2F37;
}

.Recipes::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.RecipeFix {
    padding-right: 8px;
}