.Question {
    padding-bottom: 16px;
}

.Text {
    display: inline;
    padding-right: 8px;
}

.Link {
    display: inline;
    color: #4C4CFF;
    margin: 0;
    padding: 0;
    text-decoration: none;
}